<div style="border:1px solid #d4d4d4; padding:10px;">
<h3>
  New Proposal
</h3>

<p>
  <b>Name:</b>
  <%= @proposal.name %>
</p>

<p>
  <b>Anum:</b>
  <%= @proposal.anum %>
</p>

<p>
  <b>Final:</b>
  <%= @proposal.final %>
</p>

<p>
  <b>Date:</b>
  <%= @proposal.date %>
</p>

<p>
  <b>Time:</b>
  <%= @proposal.time %>
</p>

<p>
  <b>Propoasal manager:</b>
  <%= @proposal.propoasal_manager %>
</p>

<p>
  <b>Coordinator:</b>
  <%= @proposal.coordinator %>
</p>

<p>
  <b>Reviewer:</b>
  <%= @proposal.reviewer %>
</p>

<p>
  <b>Coord meeting datetime:</b>
  <%= @proposal.coord_meeting_datetime %>
</p>

<p>
  <b>Time:</b>
  <%= @proposal.time %>
</p>

<p>
  <b>Fee total:</b>
  <%= @proposal.fee_total %>
</p>

<p>
  <b>Fee dks:</b>
  <%= @proposal.fee_dks %>
</p>

<p>
  <b>Prime sub:</b>
  <%= @proposal.prime_sub %>
</p>

<p>
  <b>Type doc:</b>
  <%= @proposal.type_doc %>
</p>

<p>
  <b>Client copies:</b>
  <%= @proposal.client_copies %>
</p>

<p>
  <b>Dks staff copies:</b>
  <%= @proposal.dks_staff_copies %>
</p>

<p>
  <b>Subconsultants copies:</b>
  <%= @proposal.subconsultants_copies %>
</p>

<p>
  <b>Filing copies:</b>
  <%= @proposal.filing_copies %>
</p>

<p>
  <b>Delivery by:</b>
  <%= @proposal.delivery_by %>
</p>

<p>
  <b>Prod page limit:</b>
  <%= @proposal.prod_page_limit %>
</p>

<p>
  <b>Prod single sided:</b>
  <%= @proposal.prod_single_sided %>
</p>

<p>
  <b>Prod divider tabs:</b>
  <%= @proposal.prod_divider_tabs %>
</p>

<p>
  <b>Prod graphics:</b>
  <%= @proposal.prod_graphics %>
</p>

<p>
  <b>Prod other int:</b>
  <%= @proposal.prod_other_int %>
</p>

<p>
  <b>Prod other:</b>
  <%= @proposal.prod_other %>
</p>

<p>
  <b>Prod no:</b>
  <%= @proposal.prod_no %>
</p>

<p>
  <b>Prod double sided:</b>
  <%= @proposal.prod_double_sided %>
</p>

<p>
  <b>Prod no2:</b>
  <%= @proposal.prod_no2 %>
</p>

<p>
  <b>Prod subtabs:</b>
  <%= @proposal.prod_subtabs %>
</p>

<p>
  <b>Prod cover:</b>
  <%= @proposal.prod_cover %>
</p>

<p>
  <b>Prod schedule:</b>
  <%= @proposal.prod_schedule %>
</p>

<p>
  <b>Prod org chart:</b>
  <%= @proposal.prod_org_chart %>
</p>

<p>
  <b>Prod special instructions:</b>
  <%= @proposal.prod_special_instructions %>
</p>

<p>
  <b>Delv trans name:</b>
  <%= @proposal.delv_trans_name %>
</p>

<p>
  <b>Delv trans address:</b>
  <%= @proposal.delv_trans_address %>
</p>

<p>
  <b>Delv trans attention:</b>
  <%= @proposal.delv_trans_attention %>
</p>

<p>
  <b>Delv deliver name:</b>
  <%= @proposal.delv_deliver_name %>
</p>

<p>
  <b>Delv deliver address:</b>
  <%= @proposal.delv_deliver_address %>
</p>

<p>
  <b>Delv deliver attention:</b>
  <%= @proposal.delv_deliver_attention %>
</p>

<p>
  <b>Mand subconsultant resp:</b>
  <%= @proposal.mand_subconsultant_resp %>
</p>

<p>
  <b>Mand subconsultant datetime:</b>
  <%= @proposal.mand_subconsultant_datetime %>
</p>

<p>
  <b>Time:</b>
  <%= @proposal.time %>
</p>

<p>
  <b>Mand subconsultant reviewer:</b>
  <%= @proposal.mand_subconsultant_reviewer %>
</p>

<p>
  <b>Mand draft resp:</b>
  <%= @proposal.mand_draft_resp %>
</p>

<p>
  <b>Mand draft datetime:</b>
  <%= @proposal.mand_draft_datetime %>
</p>

<p>
  <b>Mand draft reviewer:</b>
  <%= @proposal.mand_draft_reviewer %>
</p>

<p>
  <b>Mand sub final edits resp:</b>
  <%= @proposal.mand_sub_final_edits_resp %>
</p>

<p>
  <b>Mand sub final edits datetime:</b>
  <%= @proposal.mand_sub_final_edits_datetime %>
</p>

<p>
  <b>Mand sub final edits reviewer:</b>
  <%= @proposal.mand_sub_final_edits_reviewer %>
</p>

<p>
  <b>Mand cam ready resp:</b>
  <%= @proposal.mand_cam_ready_resp %>
</p>

<p>
  <b>Mand cam ready datetime:</b>
  <%= @proposal.mand_cam_ready_datetime %>
</p>

<p>
  <b>Mand cam ready reviewer:</b>
  <%= @proposal.mand_cam_ready_reviewer %>
</p>

<p>
  <b>Mand final check resp:</b>
  <%= @proposal.mand_final_check_resp %>
</p>

<p>
  <b>Mand final check datetime:</b>
  <%= @proposal.mand_final_check_datetime %>
</p>

<p>
  <b>Mand final check reviewer:</b>
  <%= @proposal.mand_final_check_reviewer %>
</p>

<p>
  <b>Mand print bind resp:</b>
  <%= @proposal.mand_print_bind_resp %>
</p>

<p>
  <b>Mand print bind datetime:</b>
  <%= @proposal.mand_print_bind_datetime %>
</p>

<p>
  <b>Mand print bind reviewer:</b>
  <%= @proposal.mand_print_bind_reviewer %>
</p>

<p>
  <b>Mand out door deadline resp:</b>
  <%= @proposal.mand_out_door_deadline_resp %>
</p>

<p>
  <b>Mand out door deadline datetime:</b>
  <%= @proposal.mand_out_door_deadline_datetime %>
</p>

<p>
  <b>Mand out door deadline reviewer:</b>
  <%= @proposal.mand_out_door_deadline_reviewer %>
</p>

<p>
  <b>Dead cov sec:</b>
  <%= @proposal.dead_cov_sec %>
</p>

<p>
  <b>Dead cov resp:</b>
  <%= @proposal.dead_cov_resp %>
</p>

<p>
  <b>Dead cov dd:</b>
  <%= @proposal.dead_cov_dd %>
</p>

<p>
  <b>Dead cov fd:</b>
  <%= @proposal.dead_cov_fd %>
</p>

<p>
  <b>Dead cov rev:</b>
  <%= @proposal.dead_cov_rev %>
</p>

<p>
  <b>Dead cov na:</b>
  <%= @proposal.dead_cov_na %>
</p>

<p>
  <b>Dead cov done:</b>
  <%= @proposal.dead_cov_done %>
</p>

<p>
  <b>Dead stand sec:</b>
  <%= @proposal.dead_stand_sec %>
</p>

<p>
  <b>Dead stand resp:</b>
  <%= @proposal.dead_stand_resp %>
</p>

<p>
  <b>Dead stand dd:</b>
  <%= @proposal.dead_stand_dd %>
</p>

<p>
  <b>Dead stand fd:</b>
  <%= @proposal.dead_stand_fd %>
</p>

<p>
  <b>Dead stand rev:</b>
  <%= @proposal.dead_stand_rev %>
</p>

<p>
  <b>Dead stand na:</b>
  <%= @proposal.dead_stand_na %>
</p>

<p>
  <b>Dead stand done:</b>
  <%= @proposal.dead_stand_done %>
</p>

<p>
  <b>Dead firm sec:</b>
  <%= @proposal.dead_firm_sec %>
</p>

<p>
  <b>Dead firm resp:</b>
  <%= @proposal.dead_firm_resp %>
</p>

<p>
  <b>Dead firm dd:</b>
  <%= @proposal.dead_firm_dd %>
</p>

<p>
  <b>Dead firm fd:</b>
  <%= @proposal.dead_firm_fd %>
</p>

<p>
  <b>Dead firm rev:</b>
  <%= @proposal.dead_firm_rev %>
</p>

<p>
  <b>Dead firm na:</b>
  <%= @proposal.dead_firm_na %>
</p>

<p>
  <b>Dead firm done:</b>
  <%= @proposal.dead_firm_done %>
</p>

<p>
  <b>Dead lang sec:</b>
  <%= @proposal.dead_lang_sec %>
</p>

<p>
  <b>Dead lang resp:</b>
  <%= @proposal.dead_lang_resp %>
</p>

<p>
  <b>Dead lang dd:</b>
  <%= @proposal.dead_lang_dd %>
</p>

<p>
  <b>Dead lang fc:</b>
  <%= @proposal.dead_lang_fc %>
</p>

<p>
  <b>Dead lang rev:</b>
  <%= @proposal.dead_lang_rev %>
</p>

<p>
  <b>Dead lang na:</b>
  <%= @proposal.dead_lang_na %>
</p>

<p>
  <b>Dead lang done:</b>
  <%= @proposal.dead_lang_done %>
</p>

<p>
  <b>Dead capsule sec:</b>
  <%= @proposal.dead_capsule_sec %>
</p>

<p>
  <b>Dead capsule resp:</b>
  <%= @proposal.dead_capsule_resp %>
</p>

<p>
  <b>Dead capsule dd:</b>
  <%= @proposal.dead_capsule_dd %>
</p>

<p>
  <b>Dead capsule fd:</b>
  <%= @proposal.dead_capsule_fd %>
</p>

<p>
  <b>Dead capsule rev:</b>
  <%= @proposal.dead_capsule_rev %>
</p>

<p>
  <b>Dead capsule na:</b>
  <%= @proposal.dead_capsule_na %>
</p>

<p>
  <b>Dead capsule done:</b>
  <%= @proposal.dead_capsule_done %>
</p>

<p>
  <b>Dead full res sec:</b>
  <%= @proposal.dead_full_res_sec %>
</p>

<p>
  <b>Dead full res resp:</b>
  <%= @proposal.dead_full_res_resp %>
</p>

<p>
  <b>Dead full res dd:</b>
  <%= @proposal.dead_full_res_dd %>
</p>

<p>
  <b>Dead full res fd:</b>
  <%= @proposal.dead_full_res_fd %>
</p>

<p>
  <b>Dead full res rev:</b>
  <%= @proposal.dead_full_res_rev %>
</p>

<p>
  <b>Dead full res na:</b>
  <%= @proposal.dead_full_res_na %>
</p>

<p>
  <b>Dead full res done:</b>
  <%= @proposal.dead_full_res_done %>
</p>

<p>
  <b>Dead graph cover sec:</b>
  <%= @proposal.dead_graph_cover_sec %>
</p>

<p>
  <b>Dead graph cover resp:</b>
  <%= @proposal.dead_graph_cover_resp %>
</p>

<p>
  <b>Dead graph cover dd:</b>
  <%= @proposal.dead_graph_cover_dd %>
</p>

<p>
  <b>Dead graph cover fd:</b>
  <%= @proposal.dead_graph_cover_fd %>
</p>

<p>
  <b>Dead graph cover rev:</b>
  <%= @proposal.dead_graph_cover_rev %>
</p>

<p>
  <b>Dead graph cover na:</b>
  <%= @proposal.dead_graph_cover_na %>
</p>

<p>
  <b>Dead graph cover done:</b>
  <%= @proposal.dead_graph_cover_done %>
</p>

<p>
  <b>Dead graph org sec:</b>
  <%= @proposal.dead_graph_org_sec %>
</p>

<p>
  <b>Dead graph org resp:</b>
  <%= @proposal.dead_graph_org_resp %>
</p>

<p>
  <b>Dead graph org dd:</b>
  <%= @proposal.dead_graph_org_dd %>
</p>

<p>
  <b>Dead graph org fc:</b>
  <%= @proposal.dead_graph_org_fc %>
</p>

<p>
  <b>Dead graph org rev:</b>
  <%= @proposal.dead_graph_org_rev %>
</p>

<p>
  <b>Dead graph org na:</b>
  <%= @proposal.dead_graph_org_na %>
</p>

<p>
  <b>Dead graph org done:</b>
  <%= @proposal.dead_graph_org_done %>
</p>

<p>
  <b>Dead graph sch sec:</b>
  <%= @proposal.dead_graph_sch_sec %>
</p>

<p>
  <b>Dead graph sch resp:</b>
  <%= @proposal.dead_graph_sch_resp %>
</p>

<p>
  <b>Dead graph sch dd:</b>
  <%= @proposal.dead_graph_sch_dd %>
</p>

<p>
  <b>Dead graph sch fc:</b>
  <%= @proposal.dead_graph_sch_fc %>
</p>

<p>
  <b>Dead graph sch rev:</b>
  <%= @proposal.dead_graph_sch_rev %>
</p>

<p>
  <b>Dead graph sch na:</b>
  <%= @proposal.dead_graph_sch_na %>
</p>

<p>
  <b>Dead graph sch done:</b>
  <%= @proposal.dead_graph_sch_done %>
</p>

<p>
  <b>Dead graphics sec:</b>
  <%= @proposal.dead_graphics_sec %>
</p>

<p>
  <b>Dead graphics resp:</b>
  <%= @proposal.dead_graphics_resp %>
</p>

<p>
  <b>Dead graphics dd:</b>
  <%= @proposal.dead_graphics_dd %>
</p>

<p>
  <b>Dead graphics fc:</b>
  <%= @proposal.dead_graphics_fc %>
</p>

<p>
  <b>Dead graphics rev:</b>
  <%= @proposal.dead_graphics_rev %>
</p>

<p>
  <b>Dead graphics na:</b>
  <%= @proposal.dead_graphics_na %>
</p>

<p>
  <b>Dead graphics done:</b>
  <%= @proposal.dead_graphics_done %>
</p>

<p>
  <b>Dead text work scope sec:</b>
  <%= @proposal.dead_text_work_scope_sec %>
</p>

<p>
  <b>Dead text work scope resp:</b>
  <%= @proposal.dead_text_work_scope_resp %>
</p>

<p>
  <b>Dead text work scope dd:</b>
  <%= @proposal.dead_text_work_scope_dd %>
</p>

<p>
  <b>Dead text work scope fd:</b>
  <%= @proposal.dead_text_work_scope_fd %>
</p>

<p>
  <b>Dead text work scope rev:</b>
  <%= @proposal.dead_text_work_scope_rev %>
</p>

<p>
  <b>Dead text work scope na:</b>
  <%= @proposal.dead_text_work_scope_na %>
</p>

<p>
  <b>Dead text work scope done:</b>
  <%= @proposal.dead_text_work_scope_done %>
</p>

<p>
  <b>Dead text qual sec:</b>
  <%= @proposal.dead_text_qual_sec %>
</p>

<p>
  <b>Dead text qual resp:</b>
  <%= @proposal.dead_text_qual_resp %>
</p>

<p>
  <b>Dead text qual dd:</b>
  <%= @proposal.dead_text_qual_dd %>
</p>

<p>
  <b>Dead text qual fd:</b>
  <%= @proposal.dead_text_qual_fd %>
</p>

<p>
  <b>Dead text qual rev:</b>
  <%= @proposal.dead_text_qual_rev %>
</p>

<p>
  <b>Dead text qual na:</b>
  <%= @proposal.dead_text_qual_na %>
</p>

<p>
  <b>Dead text qual done:</b>
  <%= @proposal.dead_text_qual_done %>
</p>

<p>
  <b>Dead text res sec:</b>
  <%= @proposal.dead_text_res_sec %>
</p>

<p>
  <b>Dead text res resp:</b>
  <%= @proposal.dead_text_res_resp %>
</p>

<p>
  <b>Dead text res dd:</b>
  <%= @proposal.dead_text_res_dd %>
</p>

<p>
  <b>Dead text res fd:</b>
  <%= @proposal.dead_text_res_fd %>
</p>

<p>
  <b>Dead text res rev:</b>
  <%= @proposal.dead_text_res_rev %>
</p>

<p>
  <b>Dead text res na:</b>
  <%= @proposal.dead_text_res_na %>
</p>

<p>
  <b>Dead text res done:</b>
  <%= @proposal.dead_text_res_done %>
</p>

<p>
  <b>Dead text short sec:</b>
  <%= @proposal.dead_text_short_sec %>
</p>

<p>
  <b>Dead text short resp:</b>
  <%= @proposal.dead_text_short_resp %>
</p>

<p>
  <b>Dead text short dd:</b>
  <%= @proposal.dead_text_short_dd %>
</p>

<p>
  <b>Dead text short fd:</b>
  <%= @proposal.dead_text_short_fd %>
</p>

<p>
  <b>Dead text short rev:</b>
  <%= @proposal.dead_text_short_rev %>
</p>

<p>
  <b>Dead text short na:</b>
  <%= @proposal.dead_text_short_na %>
</p>

<p>
  <b>Dead text short done:</b>
  <%= @proposal.dead_text_short_done %>
</p>

<p>
  <b>Dead text und sec:</b>
  <%= @proposal.dead_text_und_sec %>
</p>

<p>
  <b>Dead text und resp:</b>
  <%= @proposal.dead_text_und_resp %>
</p>

<p>
  <b>Dead text und dd:</b>
  <%= @proposal.dead_text_und_dd %>
</p>

<p>
  <b>Dead text und fd:</b>
  <%= @proposal.dead_text_und_fd %>
</p>

<p>
  <b>Dead text und rev:</b>
  <%= @proposal.dead_text_und_rev %>
</p>

<p>
  <b>Dead text und na:</b>
  <%= @proposal.dead_text_und_na %>
</p>

<p>
  <b>Dead text und done:</b>
  <%= @proposal.dead_text_und_done %>
</p>

<p>
  <b>Dead text sec:</b>
  <%= @proposal.dead_text_sec %>
</p>

<p>
  <b>Dead text resp:</b>
  <%= @proposal.dead_text_resp %>
</p>

<p>
  <b>Dead text dd:</b>
  <%= @proposal.dead_text_dd %>
</p>

<p>
  <b>Dead text fd:</b>
  <%= @proposal.dead_text_fd %>
</p>

<p>
  <b>Dead text rev:</b>
  <%= @proposal.dead_text_rev %>
</p>

<p>
  <b>Dead text na:</b>
  <%= @proposal.dead_text_na %>
</p>

<p>
  <b>Dead text done:</b>
  <%= @proposal.dead_text_done %>
</p>

<p>
  <b>Dead div tabs sec:</b>
  <%= @proposal.dead_div_tabs_sec %>
</p>

<p>
  <b>Dead div tabs resp:</b>
  <%= @proposal.dead_div_tabs_resp %>
</p>

<p>
  <b>Dead div tabs dd:</b>
  <%= @proposal.dead_div_tabs_dd %>
</p>

<p>
  <b>Dead div tabs fd:</b>
  <%= @proposal.dead_div_tabs_fd %>
</p>

<p>
  <b>Dead div tabs rev:</b>
  <%= @proposal.dead_div_tabs_rev %>
</p>

<p>
  <b>Dead div tabs na:</b>
  <%= @proposal.dead_div_tabs_na %>
</p>

<p>
  <b>Dead div tabs done:</b>
  <%= @proposal.dead_div_tabs_done %>
</p>

<p>
  <b>Dead spec form sec:</b>
  <%= @proposal.dead_spec_form_sec %>
</p>

<p>
  <b>Dead spec form resp:</b>
  <%= @proposal.dead_spec_form_resp %>
</p>

<p>
  <b>Dead spec form dd:</b>
  <%= @proposal.dead_spec_form_dd %>
</p>

<p>
  <b>Dead spec form fd:</b>
  <%= @proposal.dead_spec_form_fd %>
</p>

<p>
  <b>Dead spec form rev:</b>
  <%= @proposal.dead_spec_form_rev %>
</p>

<p>
  <b>Dead spec form na:</b>
  <%= @proposal.dead_spec_form_na %>
</p>

<p>
  <b>Dead spec form done:</b>
  <%= @proposal.dead_spec_form_done %>
</p>

<p>
  <b>Dead bud est sec:</b>
  <%= @proposal.dead_bud_est_sec %>
</p>

<p>
  <b>Dead bud est resp:</b>
  <%= @proposal.dead_bud_est_resp %>
</p>

<p>
  <b>Dead bud est dd:</b>
  <%= @proposal.dead_bud_est_dd %>
</p>

<p>
  <b>Dead bud est fd:</b>
  <%= @proposal.dead_bud_est_fd %>
</p>

<p>
  <b>Dead bud est rev:</b>
  <%= @proposal.dead_bud_est_rev %>
</p>

<p>
  <b>Dead bud est na:</b>
  <%= @proposal.dead_bud_est_na %>
</p>

<p>
  <b>Dead bud est done:</b>
  <%= @proposal.dead_bud_est_done %>
</p>

<p>
  <b>Dead cont rev sec:</b>
  <%= @proposal.dead_cont_rev_sec %>
</p>

<p>
  <b>Dead cont rev resp:</b>
  <%= @proposal.dead_cont_rev_resp %>
</p>

<p>
  <b>Dead cont rev dd:</b>
  <%= @proposal.dead_cont_rev_dd %>
</p>

<p>
  <b>Dead cont rev fd:</b>
  <%= @proposal.dead_cont_rev_fd %>
</p>

<p>
  <b>Dead cont rev rev:</b>
  <%= @proposal.dead_cont_rev_rev %>
</p>

<p>
  <b>Dead cont rev na:</b>
  <%= @proposal.dead_cont_rev_na %>
</p>

<p>
  <b>Dead cont rev done:</b>
  <%= @proposal.dead_cont_rev_done %>
</p>

<p>
  <b>Dead work ex sec:</b>
  <%= @proposal.dead_work_ex_sec %>
</p>

<p>
  <b>Dead work ex resp:</b>
  <%= @proposal.dead_work_ex_resp %>
</p>

<p>
  <b>Dead work ex dd:</b>
  <%= @proposal.dead_work_ex_dd %>
</p>

<p>
  <b>Dead work ex fd:</b>
  <%= @proposal.dead_work_ex_fd %>
</p>

<p>
  <b>Dead work ex rev:</b>
  <%= @proposal.dead_work_ex_rev %>
</p>

<p>
  <b>Dead work ex na:</b>
  <%= @proposal.dead_work_ex_na %>
</p>

<p>
  <b>Dead work ex done:</b>
  <%= @proposal.dead_work_ex_done %>
</p>

<p>
  <b>Attachments customized outline:</b>
  <%= @proposal.attachments_customized_outline %>
</p>

<p>
  <b>Attachments subconsultant details:</b>
  <%= @proposal.attachments_subconsultant_details %>
</p>

<p>
  <b>Item needed dead resume num:</b>
  <%= @proposal.item_needed_dead_resume_num %>
</p>

<p>
  <b>Item needed dead resume due date:</b>
  <%= @proposal.item_needed_dead_resume_due_date %>
</p>

<p>
  <b>Item needed dead resume req sub num:</b>
  <%= @proposal.item_needed_dead_resume_req_sub_num %>
</p>

<p>
  <b>Item needed dead short bio due date:</b>
  <%= @proposal.item_needed_dead_short_bio_due_date %>
</p>

<p>
  <b>Item needed dead short bio req sub num:</b>
  <%= @proposal.item_needed_dead_short_bio_req_sub_num %>
</p>

<p>
  <b>Item needed dead firm profile due date:</b>
  <%= @proposal.item_needed_dead_firm_profile_due_date %>
</p>

<p>
  <b>Item needed dead firm profile req sub num:</b>
  <%= @proposal.item_needed_dead_firm_profile_req_sub_num %>
</p>

<p>
  <b>Item needed dead quals due date:</b>
  <%= @proposal.item_needed_dead_quals_due_date %>
</p>

<p>
  <b>Item needed dead quals req sub num:</b>
  <%= @proposal.item_needed_dead_quals_req_sub_num %>
</p>

<p>
  <b>Item needed dead task desc due date:</b>
  <%= @proposal.item_needed_dead_task_desc_due_date %>
</p>

<p>
  <b>Item needed dead task desc req sub num:</b>
  <%= @proposal.item_needed_dead_task_desc_req_sub_num %>
</p>

<p>
  <b>Item needed dead bud est due date:</b>
  <%= @proposal.item_needed_dead_bud_est_due_date %>
</p>

<p>
  <b>Item needed dead bud est req sub num:</b>
  <%= @proposal.item_needed_dead_bud_est_req_sub_num %>
</p>

<% @proposal.subconsultants.each do |sub| %>
  <p>
    <b>Sub#</b>
    <%= sub.sub_num %>
  </p>
  <p>
    <b>Firm Name</b>
    <%= sub.firm_name %>
  </p>
  <p>
    <b>Contact Name</b>
    <%= sub.contact_name %>
  </p>
  <p>
    <b>Contact Address</b>
    <%= sub.contact_address %>
  </p>
  <p>
    <b>Contact Phone</b>
    <%= sub.contact_phone %>
  </p>
  <p>
    <b>Contact Fax</b>
    <%= sub.contact_fax %>
  </p>
  <p>
    <b>Contact Email</b>
    <%= sub.contact_email %>
  </p>
<% end %>

</div>
