<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Anum</th>
    <th>Final</th>
    <th>Date</th>
    <th>Time</th>
    <th>Propoasal manager</th>
    <th>Coordinator</th>
    <th>Reviewer</th>
    <th>Coord meeting datetime</th>
    <th>Time</th>
    <th>Fee total</th>
    <th>Fee dks</th>
    <th>Prime sub</th>
    <th>Type doc</th>
    <th>Client copies</th>
    <th>Dks staff copies</th>
    <th>Subconsultants copies</th>
    <th>Filing copies</th>
    <th>Delivery by</th>
    <th>Prod page limit</th>
    <th>Prod single sided</th>
    <th>Prod divider tabs</th>
    <th>Prod graphics</th>
    <th>Prod other int</th>
    <th>Prod other</th>
    <th>Prod no</th>
    <th>Prod double sided</th>
    <th>Prod no2</th>
    <th>Prod subtabs</th>
    <th>Prod cover</th>
    <th>Prod schedule</th>
    <th>Prod org chart</th>
    <th>Prod special instructions</th>
    <th>Delv trans name</th>
    <th>Delv trans address</th>
    <th>Delv trans attention</th>
    <th>Delv deliver name</th>
    <th>Delv deliver address</th>
    <th>Delv deliver attention</th>
    <th>Mand subconsultant resp</th>
    <th>Mand subconsultant datetime</th>
    <th>Time</th>
    <th>Mand subconsultant reviewer</th>
    <th>Mand draft resp</th>
    <th>Mand draft datetime</th>
    <th>Mand draft reviewer</th>
    <th>Mand sub final edits resp</th>
    <th>Mand sub final edits datetime</th>
    <th>Mand sub final edits reviewer</th>
    <th>Mand cam ready resp</th>
    <th>Mand cam ready datetime</th>
    <th>Mand cam ready reviewer</th>
    <th>Mand final check resp</th>
    <th>Mand final check datetime</th>
    <th>Mand final check reviewer</th>
    <th>Mand print bind resp</th>
    <th>Mand print bind datetime</th>
    <th>Mand print bind reviewer</th>
    <th>Mand out door deadline resp</th>
    <th>Mand out door deadline datetime</th>
    <th>Mand out door deadline reviewer</th>
    <th>Dead cov sec</th>
    <th>Dead cov resp</th>
    <th>Dead cov dd</th>
    <th>Dead cov fd</th>
    <th>Dead cov rev</th>
    <th>Dead cov na</th>
    <th>Dead cov done</th>
    <th>Dead stand sec</th>
    <th>Dead stand resp</th>
    <th>Dead stand dd</th>
    <th>Dead stand fd</th>
    <th>Dead stand rev</th>
    <th>Dead stand na</th>
    <th>Dead stand done</th>
    <th>Dead firm sec</th>
    <th>Dead firm resp</th>
    <th>Dead firm dd</th>
    <th>Dead firm fd</th>
    <th>Dead firm rev</th>
    <th>Dead firm na</th>
    <th>Dead firm done</th>
    <th>Dead lang sec</th>
    <th>Dead lang resp</th>
    <th>Dead lang dd</th>
    <th>Dead lang fc</th>
    <th>Dead lang rev</th>
    <th>Dead lang na</th>
    <th>Dead lang done</th>
    <th>Dead capsule sec</th>
    <th>Dead capsule resp</th>
    <th>Dead capsule dd</th>
    <th>Dead capsule fd</th>
    <th>Dead capsule rev</th>
    <th>Dead capsule na</th>
    <th>Dead capsule done</th>
    <th>Dead full res sec</th>
    <th>Dead full res resp</th>
    <th>Dead full res dd</th>
    <th>Dead full res fd</th>
    <th>Dead full res rev</th>
    <th>Dead full res na</th>
    <th>Dead full res done</th>
    <th>Dead graph cover sec</th>
    <th>Dead graph cover resp</th>
    <th>Dead graph cover dd</th>
    <th>Dead graph cover fd</th>
    <th>Dead graph cover rev</th>
    <th>Dead graph cover na</th>
    <th>Dead graph cover done</th>
    <th>Dead graph org sec</th>
    <th>Dead graph org resp</th>
    <th>Dead graph org dd</th>
    <th>Dead graph org fc</th>
    <th>Dead graph org rev</th>
    <th>Dead graph org na</th>
    <th>Dead graph org done</th>
    <th>Dead graph sch sec</th>
    <th>Dead graph sch resp</th>
    <th>Dead graph sch dd</th>
    <th>Dead graph sch fc</th>
    <th>Dead graph sch rev</th>
    <th>Dead graph sch na</th>
    <th>Dead graph sch done</th>
    <th>Dead graphics sec</th>
    <th>Dead graphics resp</th>
    <th>Dead graphics dd</th>
    <th>Dead graphics fc</th>
    <th>Dead graphics rev</th>
    <th>Dead graphics na</th>
    <th>Dead graphics done</th>
    <th>Dead text work scope sec</th>
    <th>Dead text work scope resp</th>
    <th>Dead text work scope dd</th>
    <th>Dead text work scope fd</th>
    <th>Dead text work scope rev</th>
    <th>Dead text work scope na</th>
    <th>Dead text work scope done</th>
    <th>Dead text qual sec</th>
    <th>Dead text qual resp</th>
    <th>Dead text qual dd</th>
    <th>Dead text qual fd</th>
    <th>Dead text qual rev</th>
    <th>Dead text qual na</th>
    <th>Dead text qual done</th>
    <th>Dead text res sec</th>
    <th>Dead text res resp</th>
    <th>Dead text res dd</th>
    <th>Dead text res fd</th>
    <th>Dead text res rev</th>
    <th>Dead text res na</th>
    <th>Dead text res done</th>
    <th>Dead text short sec</th>
    <th>Dead text short resp</th>
    <th>Dead text short dd</th>
    <th>Dead text short fd</th>
    <th>Dead text short rev</th>
    <th>Dead text short na</th>
    <th>Dead text short done</th>
    <th>Dead text und sec</th>
    <th>Dead text und resp</th>
    <th>Dead text und dd</th>
    <th>Dead text und fd</th>
    <th>Dead text und rev</th>
    <th>Dead text und na</th>
    <th>Dead text und done</th>
    <th>Dead text sec</th>
    <th>Dead text resp</th>
    <th>Dead text dd</th>
    <th>Dead text fd</th>
    <th>Dead text rev</th>
    <th>Dead text na</th>
    <th>Dead text done</th>
    <th>Dead div tabs sec</th>
    <th>Dead div tabs resp</th>
    <th>Dead div tabs dd</th>
    <th>Dead div tabs fd</th>
    <th>Dead div tabs rev</th>
    <th>Dead div tabs na</th>
    <th>Dead div tabs done</th>
    <th>Dead spec form sec</th>
    <th>Dead spec form resp</th>
    <th>Dead spec form dd</th>
    <th>Dead spec form fd</th>
    <th>Dead spec form rev</th>
    <th>Dead spec form na</th>
    <th>Dead spec form done</th>
    <th>Dead bud est sec</th>
    <th>Dead bud est resp</th>
    <th>Dead bud est dd</th>
    <th>Dead bud est fd</th>
    <th>Dead bud est rev</th>
    <th>Dead bud est na</th>
    <th>Dead bud est done</th>
    <th>Dead cont rev sec</th>
    <th>Dead cont rev resp</th>
    <th>Dead cont rev dd</th>
    <th>Dead cont rev fd</th>
    <th>Dead cont rev rev</th>
    <th>Dead cont rev na</th>
    <th>Dead cont rev done</th>
    <th>Dead work ex sec</th>
    <th>Dead work ex resp</th>
    <th>Dead work ex dd</th>
    <th>Dead work ex fd</th>
    <th>Dead work ex rev</th>
    <th>Dead work ex na</th>
    <th>Dead work ex done</th>
    <th>Attachments customized outline</th>
    <th>Attachments subconsultant details</th>
    <th>Item needed dead resume num</th>
    <th>Item needed dead resume due date</th>
    <th>Item needed dead resume req sub num</th>
    <th>Item needed dead short bio due date</th>
    <th>Item needed dead short bio req sub num</th>
    <th>Item needed dead firm profile due date</th>
    <th>Item needed dead firm profile req sub num</th>
    <th>Item needed dead quals due date</th>
    <th>Item needed dead quals req sub num</th>
    <th>Item needed dead task desc due date</th>
    <th>Item needed dead task desc req sub num</th>
    <th>Item needed dead bud est due date</th>
    <th>Item needed dead bud est req sub num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.name %></td>
    <td><%= proposal.anum %></td>
    <td><%= proposal.final %></td>
    <td><%= proposal.date %></td>
    <td><%= proposal.time %></td>
    <td><%= proposal.propoasal_manager %></td>
    <td><%= proposal.coordinator %></td>
    <td><%= proposal.reviewer %></td>
    <td><%= proposal.coord_meeting_datetime %></td>
    <td><%= proposal.time %></td>
    <td><%= proposal.fee_total %></td>
    <td><%= proposal.fee_dks %></td>
    <td><%= proposal.prime_sub %></td>
    <td><%= proposal.type_doc %></td>
    <td><%= proposal.client_copies %></td>
    <td><%= proposal.dks_staff_copies %></td>
    <td><%= proposal.subconsultants_copies %></td>
    <td><%= proposal.filing_copies %></td>
    <td><%= proposal.delivery_by %></td>
    <td><%= proposal.prod_page_limit %></td>
    <td><%= proposal.prod_single_sided %></td>
    <td><%= proposal.prod_divider_tabs %></td>
    <td><%= proposal.prod_graphics %></td>
    <td><%= proposal.prod_other_int %></td>
    <td><%= proposal.prod_other %></td>
    <td><%= proposal.prod_no %></td>
    <td><%= proposal.prod_double_sided %></td>
    <td><%= proposal.prod_no2 %></td>
    <td><%= proposal.prod_subtabs %></td>
    <td><%= proposal.prod_cover %></td>
    <td><%= proposal.prod_schedule %></td>
    <td><%= proposal.prod_org_chart %></td>
    <td><%= proposal.prod_special_instructions %></td>
    <td><%= proposal.delv_trans_name %></td>
    <td><%= proposal.delv_trans_address %></td>
    <td><%= proposal.delv_trans_attention %></td>
    <td><%= proposal.delv_deliver_name %></td>
    <td><%= proposal.delv_deliver_address %></td>
    <td><%= proposal.delv_deliver_attention %></td>
    <td><%= proposal.mand_subconsultant_resp %></td>
    <td><%= proposal.mand_subconsultant_datetime %></td>
    <td><%= proposal.time %></td>
    <td><%= proposal.mand_subconsultant_reviewer %></td>
    <td><%= proposal.mand_draft_resp %></td>
    <td><%= proposal.mand_draft_datetime %></td>
    <td><%= proposal.mand_draft_reviewer %></td>
    <td><%= proposal.mand_sub_final_edits_resp %></td>
    <td><%= proposal.mand_sub_final_edits_datetime %></td>
    <td><%= proposal.mand_sub_final_edits_reviewer %></td>
    <td><%= proposal.mand_cam_ready_resp %></td>
    <td><%= proposal.mand_cam_ready_datetime %></td>
    <td><%= proposal.mand_cam_ready_reviewer %></td>
    <td><%= proposal.mand_final_check_resp %></td>
    <td><%= proposal.mand_final_check_datetime %></td>
    <td><%= proposal.mand_final_check_reviewer %></td>
    <td><%= proposal.mand_print_bind_resp %></td>
    <td><%= proposal.mand_print_bind_datetime %></td>
    <td><%= proposal.mand_print_bind_reviewer %></td>
    <td><%= proposal.mand_out_door_deadline_resp %></td>
    <td><%= proposal.mand_out_door_deadline_datetime %></td>
    <td><%= proposal.mand_out_door_deadline_reviewer %></td>
    <td><%= proposal.dead_cov_sec %></td>
    <td><%= proposal.dead_cov_resp %></td>
    <td><%= proposal.dead_cov_dd %></td>
    <td><%= proposal.dead_cov_fd %></td>
    <td><%= proposal.dead_cov_rev %></td>
    <td><%= proposal.dead_cov_na %></td>
    <td><%= proposal.dead_cov_done %></td>
    <td><%= proposal.dead_stand_sec %></td>
    <td><%= proposal.dead_stand_resp %></td>
    <td><%= proposal.dead_stand_dd %></td>
    <td><%= proposal.dead_stand_fd %></td>
    <td><%= proposal.dead_stand_rev %></td>
    <td><%= proposal.dead_stand_na %></td>
    <td><%= proposal.dead_stand_done %></td>
    <td><%= proposal.dead_firm_sec %></td>
    <td><%= proposal.dead_firm_resp %></td>
    <td><%= proposal.dead_firm_dd %></td>
    <td><%= proposal.dead_firm_fd %></td>
    <td><%= proposal.dead_firm_rev %></td>
    <td><%= proposal.dead_firm_na %></td>
    <td><%= proposal.dead_firm_done %></td>
    <td><%= proposal.dead_lang_sec %></td>
    <td><%= proposal.dead_lang_resp %></td>
    <td><%= proposal.dead_lang_dd %></td>
    <td><%= proposal.dead_lang_fc %></td>
    <td><%= proposal.dead_lang_rev %></td>
    <td><%= proposal.dead_lang_na %></td>
    <td><%= proposal.dead_lang_done %></td>
    <td><%= proposal.dead_capsule_sec %></td>
    <td><%= proposal.dead_capsule_resp %></td>
    <td><%= proposal.dead_capsule_dd %></td>
    <td><%= proposal.dead_capsule_fd %></td>
    <td><%= proposal.dead_capsule_rev %></td>
    <td><%= proposal.dead_capsule_na %></td>
    <td><%= proposal.dead_capsule_done %></td>
    <td><%= proposal.dead_full_res_sec %></td>
    <td><%= proposal.dead_full_res_resp %></td>
    <td><%= proposal.dead_full_res_dd %></td>
    <td><%= proposal.dead_full_res_fd %></td>
    <td><%= proposal.dead_full_res_rev %></td>
    <td><%= proposal.dead_full_res_na %></td>
    <td><%= proposal.dead_full_res_done %></td>
    <td><%= proposal.dead_graph_cover_sec %></td>
    <td><%= proposal.dead_graph_cover_resp %></td>
    <td><%= proposal.dead_graph_cover_dd %></td>
    <td><%= proposal.dead_graph_cover_fd %></td>
    <td><%= proposal.dead_graph_cover_rev %></td>
    <td><%= proposal.dead_graph_cover_na %></td>
    <td><%= proposal.dead_graph_cover_done %></td>
    <td><%= proposal.dead_graph_org_sec %></td>
    <td><%= proposal.dead_graph_org_resp %></td>
    <td><%= proposal.dead_graph_org_dd %></td>
    <td><%= proposal.dead_graph_org_fc %></td>
    <td><%= proposal.dead_graph_org_rev %></td>
    <td><%= proposal.dead_graph_org_na %></td>
    <td><%= proposal.dead_graph_org_done %></td>
    <td><%= proposal.dead_graph_sch_sec %></td>
    <td><%= proposal.dead_graph_sch_resp %></td>
    <td><%= proposal.dead_graph_sch_dd %></td>
    <td><%= proposal.dead_graph_sch_fc %></td>
    <td><%= proposal.dead_graph_sch_rev %></td>
    <td><%= proposal.dead_graph_sch_na %></td>
    <td><%= proposal.dead_graph_sch_done %></td>
    <td><%= proposal.dead_graphics_sec %></td>
    <td><%= proposal.dead_graphics_resp %></td>
    <td><%= proposal.dead_graphics_dd %></td>
    <td><%= proposal.dead_graphics_fc %></td>
    <td><%= proposal.dead_graphics_rev %></td>
    <td><%= proposal.dead_graphics_na %></td>
    <td><%= proposal.dead_graphics_done %></td>
    <td><%= proposal.dead_text_work_scope_sec %></td>
    <td><%= proposal.dead_text_work_scope_resp %></td>
    <td><%= proposal.dead_text_work_scope_dd %></td>
    <td><%= proposal.dead_text_work_scope_fd %></td>
    <td><%= proposal.dead_text_work_scope_rev %></td>
    <td><%= proposal.dead_text_work_scope_na %></td>
    <td><%= proposal.dead_text_work_scope_done %></td>
    <td><%= proposal.dead_text_qual_sec %></td>
    <td><%= proposal.dead_text_qual_resp %></td>
    <td><%= proposal.dead_text_qual_dd %></td>
    <td><%= proposal.dead_text_qual_fd %></td>
    <td><%= proposal.dead_text_qual_rev %></td>
    <td><%= proposal.dead_text_qual_na %></td>
    <td><%= proposal.dead_text_qual_done %></td>
    <td><%= proposal.dead_text_res_sec %></td>
    <td><%= proposal.dead_text_res_resp %></td>
    <td><%= proposal.dead_text_res_dd %></td>
    <td><%= proposal.dead_text_res_fd %></td>
    <td><%= proposal.dead_text_res_rev %></td>
    <td><%= proposal.dead_text_res_na %></td>
    <td><%= proposal.dead_text_res_done %></td>
    <td><%= proposal.dead_text_short_sec %></td>
    <td><%= proposal.dead_text_short_resp %></td>
    <td><%= proposal.dead_text_short_dd %></td>
    <td><%= proposal.dead_text_short_fd %></td>
    <td><%= proposal.dead_text_short_rev %></td>
    <td><%= proposal.dead_text_short_na %></td>
    <td><%= proposal.dead_text_short_done %></td>
    <td><%= proposal.dead_text_und_sec %></td>
    <td><%= proposal.dead_text_und_resp %></td>
    <td><%= proposal.dead_text_und_dd %></td>
    <td><%= proposal.dead_text_und_fd %></td>
    <td><%= proposal.dead_text_und_rev %></td>
    <td><%= proposal.dead_text_und_na %></td>
    <td><%= proposal.dead_text_und_done %></td>
    <td><%= proposal.dead_text_sec %></td>
    <td><%= proposal.dead_text_resp %></td>
    <td><%= proposal.dead_text_dd %></td>
    <td><%= proposal.dead_text_fd %></td>
    <td><%= proposal.dead_text_rev %></td>
    <td><%= proposal.dead_text_na %></td>
    <td><%= proposal.dead_text_done %></td>
    <td><%= proposal.dead_div_tabs_sec %></td>
    <td><%= proposal.dead_div_tabs_resp %></td>
    <td><%= proposal.dead_div_tabs_dd %></td>
    <td><%= proposal.dead_div_tabs_fd %></td>
    <td><%= proposal.dead_div_tabs_rev %></td>
    <td><%= proposal.dead_div_tabs_na %></td>
    <td><%= proposal.dead_div_tabs_done %></td>
    <td><%= proposal.dead_spec_form_sec %></td>
    <td><%= proposal.dead_spec_form_resp %></td>
    <td><%= proposal.dead_spec_form_dd %></td>
    <td><%= proposal.dead_spec_form_fd %></td>
    <td><%= proposal.dead_spec_form_rev %></td>
    <td><%= proposal.dead_spec_form_na %></td>
    <td><%= proposal.dead_spec_form_done %></td>
    <td><%= proposal.dead_bud_est_sec %></td>
    <td><%= proposal.dead_bud_est_resp %></td>
    <td><%= proposal.dead_bud_est_dd %></td>
    <td><%= proposal.dead_bud_est_fd %></td>
    <td><%= proposal.dead_bud_est_rev %></td>
    <td><%= proposal.dead_bud_est_na %></td>
    <td><%= proposal.dead_bud_est_done %></td>
    <td><%= proposal.dead_cont_rev_sec %></td>
    <td><%= proposal.dead_cont_rev_resp %></td>
    <td><%= proposal.dead_cont_rev_dd %></td>
    <td><%= proposal.dead_cont_rev_fd %></td>
    <td><%= proposal.dead_cont_rev_rev %></td>
    <td><%= proposal.dead_cont_rev_na %></td>
    <td><%= proposal.dead_cont_rev_done %></td>
    <td><%= proposal.dead_work_ex_sec %></td>
    <td><%= proposal.dead_work_ex_resp %></td>
    <td><%= proposal.dead_work_ex_dd %></td>
    <td><%= proposal.dead_work_ex_fd %></td>
    <td><%= proposal.dead_work_ex_rev %></td>
    <td><%= proposal.dead_work_ex_na %></td>
    <td><%= proposal.dead_work_ex_done %></td>
    <td><%= proposal.attachments_customized_outline %></td>
    <td><%= proposal.attachments_subconsultant_details %></td>
    <td><%= proposal.item_needed_dead_resume_num %></td>
    <td><%= proposal.item_needed_dead_resume_due_date %></td>
    <td><%= proposal.item_needed_dead_resume_req_sub_num %></td>
    <td><%= proposal.item_needed_dead_short_bio_due_date %></td>
    <td><%= proposal.item_needed_dead_short_bio_req_sub_num %></td>
    <td><%= proposal.item_needed_dead_firm_profile_due_date %></td>
    <td><%= proposal.item_needed_dead_firm_profile_req_sub_num %></td>
    <td><%= proposal.item_needed_dead_quals_due_date %></td>
    <td><%= proposal.item_needed_dead_quals_req_sub_num %></td>
    <td><%= proposal.item_needed_dead_task_desc_due_date %></td>
    <td><%= proposal.item_needed_dead_task_desc_req_sub_num %></td>
    <td><%= proposal.item_needed_dead_bud_est_due_date %></td>
    <td><%= proposal.item_needed_dead_bud_est_req_sub_num %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
